.sidebar {
    font-size: 0;
    width: 380px;

    @media(min-width: $large) {
        width: 1200px;
    }

    &__header {
        animation: fadeIn 1s infinite;
        background: darken($greyOne, 10%);
        text-align: center;

        @keyframes fadeIn {
            0% {
                border-top: 5px solid darken($greyOne, 20%);
            }
            50% {
                border-top: 5px solid $green;
            }
            100% {
                border-top: 5px solid darken($greyOne, 20%);
            }
        }

        @media(min-width: $large) {
            display: none
        }
    }

    &__header__title {
        border-top: 5px solid transparent;
        color: $white;
        font-family: $primary-font;
        font-size: 21px;
        font-weight: $font-weight--semibold;
        letter-spacing: 8px;
        line-height: 0;
        padding: 35px 0;
        text-transform: uppercase;
    }
}