.sidebar {
    &__nav{
        &__list {
            @media(min-width: $large) {
                display: flex
            }
        }
        &__item {
            align-items: center;
            background: darken($greyOne, 8%);
            border-bottom: 2px solid darken($greyOne, 20%);
            border-left: 5px solid transparent;
            box-sizing: border-box;
            display: flex;
            font-size: 0;
            padding: 20px;
            transition: all .8s ease-in-out;

            &:hover {
                background: lighten($greyOne, 10%);
                border-left: 5px solid $green;
                cursor: pointer;
                
                .sidebar__nav__item__icon {
                    transform: rotate(15deg);
                }
            }

            @media(min-width: $large) {
                border-left: 0;
                border-bottom: 5px solid transparent;
                transition: all .8s ease-in-out;

                &:hover {
                    border-left: 0;
                    border-bottom: 5px solid $green;
                }
            }

            &__icon {
                color: $white;
                font-size: 25px;
                margin-right: 20px;
                transition-duration: .8s;
            }

            &__text {
                color: $white;
                font-family: $primary-font;
                font-size: 17px;
            }

            @media(min-width: $large) {
                flex-basis: calc(100% / 6);
            }
        }
    }
}