@import 'reset';


* {
    transform: translate(10px, 20px);
}

::placeholder {
  color: gray;
}

.image {
  background-image: url('https://camo.githubusercontent.com/f265315f74ed08b94e473cd7f6f04c291e59a8e2/687474703a2f2f706f73746373732e6769746875622e696f2f6175746f70726566697865722f6c6f676f2e737667');
}
@media (min-resolution: 2dppx) {
  .image {
    background-image: url('https://camo.githubusercontent.com/f265315f74ed08b94e473cd7f6f04c291e59a8e2/687474703a2f2f706f73746373732e6769746875622e696f2f6175746f70726566697865722f6c6f676f2e737667');
  }
}


body{
  background-color: #434343;
  font-family: sans-serif;
}

nav{
  width: 300px;
  
  ul{
    li{
      color:white;
      padding: 20px;
      border: 1px solid #2e2e2e;
      span{
        i{
          display: inline !important;
        }
      } 
    }

    .list-head{
      background-color: #2a2a2a;
      text-align: center;
      font-size: 25px;
    }

    .list-option{
      background-color: #333333;
      cursor: pointer;
      box-sizing: border-box;

      &:hover{
        border-left: 5px solid #61b360;
        background-color: #434343;
      }

    }
  }
}

@media screen and (min-width: 900px){
  
  nav{
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    width: 100%;

    .list-head{
      display: none;
    }
    
    ul{
      display: -webkit-inline-box;
    }
  }

}