@import 'reset';

body{
  background-color: #434343;
  font-family: sans-serif;
}

nav{
  width: 300px;
  
  ul{
    li{
      color:white;
      padding: 20px;
      border: 1px solid #2e2e2e;
      span{
        i{
          display: inline !important;
        }
      } 
    }

    .list-head{
      background-color: #2a2a2a;
      text-align: center;
      font-size: 25px;
    }

    .list-option{
      background-color: #333333;
      cursor: pointer;
      box-sizing: border-box;

      &:hover{
        border-left: 5px solid #61b360;
        background-color: #434343;
      }

    }
  }
}

@media screen and (min-width: 1024px){
  
  nav{
    text-align: center;
    width: 100%;

    .list-head{
      display: none;
    }
    
    ul{
      display: -webkit-inline-box;

      .list-option{
        padding-right: 60px;
        text-align: left;
      }
    }
  }

}